# Enable copy trading and real orders (set DRY_RUN=false to buy/sell)
ENABLE_COPY_TRADING=true
DRY_RUN=false

# or
RPC_URL=wss://polygon-mainnet.g.alchemy.com/v2/bM-lUop1TEhCGPWJDHnEr11WDXMl_Zg0
PROXY_WALLET_ADDRESS=0x875058B4F...0a4d018e2
REDEEM_DURATION=120
ORDER_TYPE=FAK
ORDER_SIZE_IN_TOKENS=true


BUY_THRESHOLD=0.45
SELL_PRICE=0.35
PROFIT_SELL_THRESHOLD=0.99
PENDING_BUY_TIME_THRESHOLD_SECONDS=160
PRIVATE_KEY=8191c34e99...c97b7007c865e87